Project_SystemShockCopy/.vs
Project_SystemShockCopy/Framework.sln
partObject/Framework.sln
*.fbx
*.dds
*.pdb
*.zip
*.ilk
.ipch/
*.sln
*.db
*.obj
*.tlog
*.lib
*.dll
*.exe
.vs/
Resources/
Project_SystemShockCopy/Engine/Default/x64/Debug/Engine.ilk
Project_SystemShockCopy/MapTool/Bin/MapTool.pdb